#line-chart-box {
  background-color: red;
}

#line-chart-box .domain {
  display: none;
}

#line-chart-box .tick line {
  display: none;
}

#line-chart-box .tick text {
  font-size: 1.25em;
  font-weight: 500;
  color: white;
  opacity: 40%;
  line-height: 24px;
}

#line-chart-box #line {
  opacity: 40%;
}
