.nutrition-card {
  display: flex;
  background-color: #fbfbfb;
  width: 200px;
  height: 124px;
  align-items: center;
  padding: 0 32px;
}

.nutritions-infos {
  display: flex;
  flex-direction: column;
}

.icon-container {
  margin-right: 24px;
}

.nutritions-infos .value {
  font-size: 1.25em;
  font-weight: 700;
  color: #282d30;
}

.nutritions-infos .unit {
  margin-top: 5px;
  font-size: 0.875em;
  font-weight: 500;
  color: #74798c;
}
